<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/messages_icon.png" />
    <title>SMS Service</title>
    {{!-- Bootswatch Styles --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
    {{!-- Custom Css --}}
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

   {{>navigation}}

    <div class="container p-4">
        {{{body}}}
    </div>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>

</body>
</html>